
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="uft-8" />
    <meta name="description" content="Sistema de gestão de links favoritos" />
    <meta name="keywords" content="html, links, favoritos, bookmakers" />
    <meta name="autor" content="pixies" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Jquery file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!--<link rel="stylesheet" href="style.css" />-->
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
            <div class="myTitle">Projeto Favoritando</div>
            <div><a href="/login">Entrar</a></div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="http://domain.invalid/">projetoFavoritos</a>.
        {% endblock %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        
        $(document).ready(function(){
            console.log('JS Loaded');
        });

    </script>
</body>
</html>