<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8" />
    <meta name="description" content="Sistema de gestão de links favoritos" />
    <meta name="keywords" content="html, links, favoritos, bookmakers" />
    <meta name="autor" content="pixies" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Meus Favoritos</title>

</head>

<body>
    <h1>Seja bem vindo ao WebFavoritos</h1>

    <form method="post">
        <fieldset>
            <legend>Para acessar use suas credênciais</legend>
            <label>e-mail</label><input type="email" name="email" /><br />
            <label>senha</label><input type="password" name="senha" /></br />
            <input type="submit" name="entrar" value="entrar" />
        </fieldset>
    </form>
</body>

</html>